#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
  width: 80%;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20rem;
}

.text-container {
  padding: 2rem;
}

.js-text-container span {
  outline: 1px solid red;
}

.js-text-container mark {
  outline: inherit;
}

#specify-wrapper-classes .js-text-container span {
  outline: none;
}

.vowel--a {
  background-color: yellow;
}
.vowel--e {
  background-color: orange;
}
.vowel--i {
  background-color: pink;
}
.vowel--o {
  background-color: greenyellow;
}
.vowel--u {
  background-color: lightblue;
}
